<div ng-controller='list1' class="container">

    <div id="todo">

        <h1>Here is pate0357's Todolist</h1>
        <hr>
        <h3>Enter things to do:
            <br>
            <br>
            <input  class="form-control" type="text" ng-model="name" placeholder="Enter things here">
        </h3>

        <button ng-click="addThing(name)" class="btn btn-primary btnsave">Save</button>


        <ul ng-repeat="todo1 in arrayList track by $index" class="todolist">
            <li>{{todo1.title1}}
                <button class="btn btn-default btnremove" ng-click="remove($index)" class="col-md-offset-3">Remove</button>

            </li>

            <hr>
        </ul>
    </div>
</div>